@use '../abstract/mixins';
@use '../components/typography' as txt;


/****************
** Core Styles **
****************/
:root {
    font-size: txt.$font-size--default;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    @include mixins.full-relative;
}

#root {
    @extend body;
    @include mixins.d-flex(column, unset, unset);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    @include mixins.img-normalize;
}

ol,
ul,
li {
    list-style: none;
}

button,
input {
    background: transparent;
    border: none;
    outline: none;
}